In [2]:
import pandas as pd
import numpy as np

In [3]:
#def generate_pam(x, input_path, output_path):

In [4]:
mut = open("./example/mut.txt", "r")
print(mut.read())

# Retrieved August 27 2012 from http://www.icp.ucl.ac.be/~opperd/private/pam1.html
          A    R    N    D    C    Q    E    G    H    I    L    K    M    F    P    S    T    W    Y    V
A  9867     2    9   10    3    8   17   21    2    6    4    2    6    2   22   35   32    0    2   18
R     1  9913    1    0    1   10    0    0   10    3    1   19    4    1    4    6    1    8    0    1
N     4     1 9822   36    0    4    6    6   21    3    1   13    0    1    2   20    9    1    4    1
D     6     0   42 9859    0    6   53    6    4    1    0    3    0    0    1    5    3    0    0    1
C     1     1    0    0 9973    0    0    0    1    1    0    0    0    0    1    5    1    0    3    2
Q     3     9    4    5    0 9876   27    1   23    1    3    6    4    0    6    2    2    0    0    1
E    10     0    7   56    0   35 9865    4    2    3    1    4    1    0    3    4    2    0    1    2
G    21     1   12   11    1    3    7 9935    1    0    1    2    1    1    3   21    3    0    0    5
H     1     8   18    3    1   20    1    0 9912    0    1    1    0    2    3    1    1    1    4    1
I     2     2    3    1    2    1    2    0    0 9872    9    2   12    7    0    1    7    0    1   33
L     3     1    3    0    0    6    1    1    4   22 9947    2   45   13    3    1    3    4    2   15
K     2    37   25    6    0   12    7    2    2    4    1 9926   20    0    3    8   11    0    1    1
M     1     1    0    0    0    2    0    0    0    5    8    4 9874    1    0    1    2    0    0    4
F     1     1    1    0    0    0    0    1    2    8    6    0    4 9946    0    2    1    3   28    0
P    13     5    2    1    1    8    3    2    5    1    2    2    1    1 9926   12    4    0    0    2
S    28    11   34    7   11    4    6   16    2    2    1    7    4    3   17 9840   38    5    2    2
T    22     2   13    4    1    3    2    2    1   11    2    8    6    1    5   32 9871    0    2    9
W     0     2    0    0    0    0    0    0    0    0    0    0    0    1    0    1    0 9976    1    0
Y     1     0    3    0    3    0    1    0    4    1    1    0    0   21    0    1    1    2 9945    1
V    13     2    1    1    3    2    2    3    3   57   11    1   17    1    3    2   10    0    2 9901

In [47]:
# with open('./example/mut.txt', 'r') as mut_txt:
#     data_list = []
#     for element in mut_txt:
#         if not element.startswith('#'):
#             data_list.append(element)

In [48]:
# data_list

In [45]:
df = pd.read_csv("./example/mut.txt", delim_whitespace=True, index_col=0, skiprows=[0])
df

,A,R,N,D,C,Q,E,G,H,I,L,K,M,F,P,S,T,W,Y,V
A,9867,2,9,10,3,8,17,21,2,6,4,2,6,2,22,35,32,0,2,18
R,1,9913,1,0,1,10,0,0,10,3,1,19,4,1,4,6,1,8,0,1
N,4,1,9822,36,0,4,6,6,21,3,1,13,0,1,2,20,9,1,4,1
D,6,0,42,9859,0,6,53,6,4,1,0,3,0,0,1,5,3,0,0,1
C,1,1,0,0,9973,0,0,0,1,1,0,0,0,0,1,5,1,0,3,2
Q,3,9,4,5,0,9876,27,1,23,1,3,6,4,0,6,2,2,0,0,1
E,10,0,7,56,0,35,9865,4,2,3,1,4,1,0,3,4,2,0,1,2
G,21,1,12,11,1,3,7,9935,1,0,1,2,1,1,3,21,3,0,0,5
H,1,8,18,3,1,20,1,0,9912,0,1,1,0,2,3,1,1,1,4,1
I,2,2,3,1,2,1,2,0,0,9872,9,2,12,7,0,1,7,0,1,33
L,3,1,3,0,0,6,1,1,4,22,9947,2,45,13,3,1,3,4,2,15
K,2,37,25,6,0,12,7,2,2,4,1,9926,20,0,3,8,11,0,1,1
M,1,1,0,0,0,2,0,0,0,5,8,4,9874,1,0,1,2,0,0,4
F,1,1,1,0,0,0,0,1,2,8,6,0,4,9946,0,2,1,3,28,0
P,13,5,2,1,1,8,3,2,5,1,2,2,1,1,9926,12,4,0,0,2
S,28,11,34,7,11,4,6,16,2,2,1,7,4,3,17,9840,38,5,2,2
T,22,2,13,4,1,3,2,2,1,11,2,8,6,1,5,32,9871,0,2,9
W,0,2,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,9976,1,0
Y,1,0,3,0,3,0,1,0,4,1,1,0,0,21,0,1,1,2,9945,1
V,13,2,1,1,3,2,2,3,3,57,11,1,17,1,3,2,10,0,2,9901

In [46]:
matrix = df.values
print(matrix)

[[9867    2    9   10    3    8   17   21    2    6    4    2    6    2
    22   35   32    0    2   18]
 [   1 9913    1    0    1   10    0    0   10    3    1   19    4    1
     4    6    1    8    0    1]
 [   4    1 9822   36    0    4    6    6   21    3    1   13    0    1
     2   20    9    1    4    1]
 [   6    0   42 9859    0    6   53    6    4    1    0    3    0    0
     1    5    3    0    0    1]
 [   1    1    0    0 9973    0    0    0    1    1    0    0    0    0
     1    5    1    0    3    2]
 [   3    9    4    5    0 9876   27    1   23    1    3    6    4    0
     6    2    2    0    0    1]
 [  10    0    7   56    0   35 9865    4    2    3    1    4    1    0
     3    4    2    0    1    2]
 [  21    1   12   11    1    3    7 9935    1    0    1    2    1    1
     3   21    3    0    0    5]
 [   1    8   18    3    1   20    1    0 9912    0    1    1    0    2
     3    1    1    1    4    1]
 [   2    2    3    1    2    1    2    0    0 9872    9    2   12    7
     0    1    7    0    1   33]
 [   3    1    3    0    0    6    1    1    4   22 9947    2   45   13
     3    1    3    4    2   15]
 [   2   37   25    6    0   12    7    2    2    4    1 9926   20    0
     3    8   11    0    1    1]
 [   1    1    0    0    0    2    0    0    0    5    8    4 9874    1
     0    1    2    0    0    4]
 [   1    1    1    0    0    0    0    1    2    8    6    0    4 9946
     0    2    1    3   28    0]
 [  13    5    2    1    1    8    3    2    5    1    2    2    1    1
  9926   12    4    0    0    2]
 [  28   11   34    7   11    4    6   16    2    2    1    7    4    3
    17 9840   38    5    2    2]
 [  22    2   13    4    1    3    2    2    1   11    2    8    6    1
     5   32 9871    0    2    9]
 [   0    2    0    0    0    0    0    0    0    0    0    0    0    1
     0    1    0 9976    1    0]
 [   1    0    3    0    3    0    1    0    4    1    1    0    0   21
     0    1    1    2 9945    1]
 [  13    2    1    1    3    2    2    3    3   57   11    1   17    1
     3    2   10    0    2 9901]]

In [47]:
matrix = matrix.astype(float) / 10000.0

# 将结果的每个元素进行250次方运算
result_matrix = np.linalg.matrix_power(matrix, 250)

# 打印处理后的矩阵
print(result_matrix)

[[0.13319352 0.06094809 0.09108579 0.0934542  0.0540715  0.07969264
  0.09420104 0.11792499 0.06334    0.0794246  0.05902981 0.0680252
  0.06728602 0.04167765 0.11617183 0.11313873 0.11634679 0.02295851
  0.0378079  0.09212483]
 [0.02784505 0.16492364 0.03993696 0.0299087  0.01767448 0.05418413
  0.03160907 0.02048865 0.05810238 0.02738756 0.02187547 0.09023161
  0.03836326 0.01747184 0.03882282 0.0370137  0.03340932 0.0659558
  0.01441982 0.02334276]
 [0.04313854 0.04027404 0.06477931 0.06556187 0.01786869 0.04827498
  0.05671805 0.04520104 0.05732012 0.02730543 0.02035266 0.05195525
  0.02687663 0.01989816 0.03820665 0.0485196  0.04584972 0.01629404
  0.02509587 0.02763078]
 [0.05195186 0.03444787 0.07596282 0.11421051 0.01492306 0.06818092
  0.10332645 0.05543473 0.05414579 0.02815592 0.01952684 0.04785403
  0.02543767 0.01410283 0.04108867 0.051782   0.0468715  0.0102137
  0.01697264 0.02987669]
 [0.0198222  0.01586581 0.01403298 0.00982784 0.51787856 0.00985748
  0.00956594 0.01188449 0.01540073 0.018309   0.0083002  0.00997477
  0.01002563 0.01203227 0.02016265 0.03148287 0.02161581 0.00563048
  0.03359901 0.02287016]
 [0.03407118 0.04989544 0.04532916 0.05516953 0.01094709 0.09628539
  0.06710215 0.02811783 0.07413188 0.02421902 0.02605557 0.04587613
  0.02989139 0.01412001 0.0412985  0.03362057 0.03194117 0.01265328
  0.01431154 0.02415508]
 [0.05488085 0.03843454 0.06931551 0.10899393 0.01503578 0.0878726
  0.12041879 0.05275213 0.05699178 0.03251064 0.02512685 0.04937311
  0.03042205 0.0155768  0.04707942 0.05086233 0.04693766 0.01015922
  0.01788948 0.03408738]
 [0.11994319 0.04996037 0.09661107 0.10197748 0.04126221 0.0688781
  0.0930053  0.26699741 0.05446096 0.05125308 0.03794597 0.06008911
  0.04586778 0.02928569 0.08185265 0.11509087 0.09073766 0.01794946
  0.02508811 0.06701285]
 [0.02413467 0.04712786 0.0479852  0.03859889 0.01519085 0.06438664
  0.0377019  0.0190173  0.14899603 0.01763229 0.0181788  0.03359026
  0.01894839 0.02387485 0.03155632 0.02724277 0.02487795 0.01865113
  0.03167383 0.01776212]
 [0.03164712 0.02291343 0.02434294 0.02101086 0.02320952 0.02283534
  0.02224139 0.01986828 0.02023715 0.10397156 0.06268962 0.02520287
  0.0598798  0.04535353 0.02185347 0.02624243 0.03756247 0.01082247
  0.02721675 0.08607063]
 [0.05379188 0.04210201 0.04509228 0.03409565 0.02142285 0.05685788
  0.0388316  0.03494562 0.05342492 0.15074794 0.33659311 0.04896056
  0.20054952 0.12711384 0.04788066 0.044211   0.05941212 0.05541926
  0.065031   0.1315153 ]
 [0.062438   0.17527739 0.10154878 0.08322713 0.02357639 0.09541228
  0.0807738  0.05406986 0.07854543 0.05386064 0.04095688 0.23955532
  0.08983318 0.02554398 0.06483978 0.07865197 0.08204971 0.03570781
  0.02726706 0.04724866]
 [0.01123926 0.0132514  0.01015156 0.00794943 0.00456621 0.01204105
  0.00863275 0.00718417 0.00906676 0.02503952 0.03529259 0.01775132
  0.0647123  0.01441886 0.008859   0.01044384 0.01375891 0.00546479
  0.00761769 0.02294081]
 [0.02000745 0.0164724  0.02062836 0.0126492  0.01597339 0.0148057
  0.01299278 0.01674693 0.02805854 0.05102214 0.05955464 0.01326615
  0.04260803 0.32437633 0.01293319 0.02126302 0.02222267 0.04378904
  0.20061432 0.02976266]
 [0.06786552 0.04923735 0.04690088 0.04329642 0.02724623 0.05603061
  0.04744306 0.04743544 0.04967534 0.03408825 0.03153286 0.04187165
  0.03326992 0.02183263 0.19883233 0.06420778 0.0563884  0.01421081
  0.01681321 0.03875762]
 [0.09057284 0.06546494 0.08215582 0.07537363 0.06815542 0.06283096
  0.07070809 0.08946439 0.05679623 0.05129142 0.03683751 0.06903015
  0.04830165 0.03416376 0.08919511 0.10089738 0.0961817  0.0387154
  0.03390955 0.05605028]
 [0.07852614 0.04930689 0.0655057  0.05751081 0.03559464 0.04952331
  0.05440481 0.05982482 0.04256806 0.0604391  0.04027577 0.06043765
  0.0512775  0.02983367 0.06593666 0.08099408 0.10737702 0.01803873
  0.0288617  0.06303485]
 [0.00269752 0.01624967 0.00307737 0.00187736 0.00200673 0.00278764
  0.00185033 0.00207604 0.00334607 0.00236373 0.00196001 0.00432479
  0.00239981 0.0134548  0.00269511 0.00655783 0.00318306 0.55175373
  0.01387373 0.00168477]
 [0.01490943 0.01031286 0.01963614 0.01202961 0.0336837  0.01232419
  0.01266406 0.01005959 0.03043975 0.02425931 0.02501529 0.00909404
  0.01738936 0.15112696 0.0097038  0.01617318 0.01626405 0.03074583
  0.3074582  0.01748606]
 [0.06535591 0.03704747 0.04273658 0.038122   0.04095891 0.04126709
  0.04061854 0.04502859 0.03793793 0.15024694 0.09717759 0.03940106
  0.09673051 0.0497562  0.04792053 0.05058716 0.06871535 0.01535485
  0.03522435 0.17292606]]

In [48]:
result_matrix[0] = result_matrix[0].astype(float) / 0.087 #A
result_matrix[1] = result_matrix[1].astype(float) / 0.041 #R
result_matrix[2] = result_matrix[2].astype(float) / 0.040 #N
result_matrix[3] = result_matrix[3].astype(float) / 0.047 #D
result_matrix[4] = result_matrix[4].astype(float) / 0.033 #C
result_matrix[5] = result_matrix[5].astype(float) / 0.038 #Q
result_matrix[6] = result_matrix[6].astype(float) / 0.050 #E
result_matrix[7] = result_matrix[7].astype(float) / 0.089 #G
result_matrix[8] = result_matrix[8].astype(float) / 0.034 #H
result_matrix[9] = result_matrix[9].astype(float) / 0.037 #I
result_matrix[10] = result_matrix[10].astype(float) / 0.085 #L
result_matrix[11] = result_matrix[11].astype(float) / 0.081 #K
result_matrix[12] = result_matrix[12].astype(float) / 0.015 #M
result_matrix[13] = result_matrix[13].astype(float) / 0.040 #F
result_matrix[14] = result_matrix[14].astype(float) / 0.051 #P
result_matrix[15] = result_matrix[15].astype(float) / 0.070 #S
result_matrix[16] = result_matrix[16].astype(float) / 0.058 #T
result_matrix[17] = result_matrix[17].astype(float) / 0.010 #W
result_matrix[18] = result_matrix[18].astype(float) / 0.030 #Y
result_matrix[19] = result_matrix[19].astype(float) / 0.065 #V

In [49]:
print(result_matrix)

[[ 1.53096     0.70055278  1.04696308  1.07418616  0.6215115   0.91600739
   1.08277061  1.35545963  0.728046    0.91292643  0.67850354  0.78189887
   0.77340257  0.47905348  1.33530835  1.30044512  1.33731945  0.26389091
   0.43457356  1.05890604]
 [ 0.6791475   4.02252783  0.97407214  0.72948044  0.43108476  1.32156403
   0.77095287  0.49972318  1.41713124  0.66798915  0.53354797  2.20077107
   0.93568924  0.42614235  0.94689803  0.9027732   0.8148614   1.60867809
   0.35170289  0.5693357 ]
 [ 1.07846351  1.00685109  1.61948287  1.63904666  0.4467172   1.20687453
   1.41795131  1.13002609  1.43300312  0.68263568  0.50881657  1.29888117
   0.67191581  0.49745401  0.95516632  1.21299007  1.1462429   0.40735105
   0.62739675  0.69076946]
 [ 1.10535879  0.73293337  1.61623014  2.43001087  0.31751183  1.45065777
   2.1984351   1.17946241  1.15203809  0.59906208  0.41546459  1.01817081
   0.54122696  0.30006023  0.87422706  1.10174465  0.99726597  0.21731266
   0.36112009  0.63567417]
 [ 0.60067287  0.48078209  0.4252419   0.29781345 15.69328958  0.29871158
   0.2898771   0.36013595  0.46668877  0.55481821  0.25152126  0.30226581
   0.30380711  0.36461412  0.61098925  0.95402649  0.65502467  0.17062069
   1.01815196  0.69303501]
 [ 0.89660991  1.3130378   1.19287267  1.4518298   0.28808133  2.53382603
   1.76584607  0.7399428   1.95083884  0.63734262  0.68567285  1.20726668
   0.78661558  0.37157928  1.0868027   0.8847518   0.84055706  0.3329811
   0.37661955  0.63566006]
 [ 1.09761693  0.7686908   1.38631012  2.17987857  0.30071562  1.75745204
   2.40837577  1.05504261  1.13983561  0.65021284  0.50253694  0.98746215
   0.60844095  0.31153608  0.94158848  1.0172467   0.93875327  0.20318432
   0.35778966  0.68174754]
 [ 1.3476763   0.56135252  1.08551764  1.14581433  0.46362031  0.77391125
   1.04500341  2.99997094  0.61192085  0.57587727  0.42635916  0.67515852
   0.51536835  0.32905275  0.91969265  1.29315589  1.01952426  0.20167937
   0.28188888  0.75295338]
 [ 0.70984336  1.38611349  1.41132944  1.13526159  0.44678972  1.89372457
   1.10887941  0.55933238  4.38223629  0.51859689  0.53467047  0.98794893
   0.55730559  0.70220148  0.9281271   0.8012578   0.73170434  0.54856267
   0.93158318  0.52241516]
 [ 0.85532752  0.61928187  0.6579174   0.56786096  0.62728422  0.61717147
   0.60111851  0.53698057  0.54695004  2.81004224  1.69431418  0.68115871
   1.6183731   1.22577121  0.59063433  0.70925479  1.01520183  0.2924992
   0.73558771  2.32623316]
 [ 0.63284567  0.49531776  0.53049745  0.40112531  0.25203348  0.66891628
   0.45684233  0.41112499  0.62852846  1.7735052   3.95991899  0.57600663
   2.35940612  1.49545693  0.56330185  0.52012939  0.6989661   0.6519913
   0.76507056  1.5472388 ]
 [ 0.77083952  2.16391836  1.25368863  1.02749544  0.29106656  1.17792935
   0.99720745  0.66752909  0.96969662  0.66494619  0.50564052  2.95747311
   1.10905158  0.31535778  0.80049105  0.97101196  1.0129594   0.44083717
   0.33663038  0.58331673]
 [ 0.749284    0.88342644  0.67677071  0.52996169  0.30441416  0.80273682
   0.57551651  0.47894461  0.60445095  1.66930154  2.35283959  1.18342134
   4.31415344  0.96125703  0.59059967  0.69625577  0.91726077  0.36431949
   0.50784631  1.52938737]
 [ 0.50018622  0.41180997  0.51570896  0.31623003  0.39933463  0.37014256
   0.32481958  0.41867316  0.70146361  1.2755535   1.48886595  0.33165371
   1.0652008   8.10940813  0.32332976  0.53157555  0.55556673  1.09472596
   5.01535788  0.74406651]
 [ 1.33069656  0.9654383   0.91962512  0.84894939  0.53423971  1.09863935
   0.93025613  0.93010664  0.97402621  0.66839706  0.61829144  0.82101277
   0.65235143  0.42809086  3.89867317  1.25897615  1.10565492  0.27864333
   0.32967069  0.75995328]
 [ 1.29389767  0.93521342  1.17365462  1.07676618  0.97364883  0.8975851
   1.01011562  1.27806276  0.81137468  0.7327346   0.52625021  0.98614493
   0.69002354  0.48805369  1.2742159   1.44139109  1.37402435  0.55307715
   0.48442219  0.80071835]
 [ 1.35389904  0.85011879  1.12940861  0.99156573  0.61370072  0.85385019
   0.93801398  1.03146249  0.73393207  1.04205337  0.69440975  1.04202839
   0.8840948   0.51437369  1.13683899  1.39644962  1.85132801  0.31101253
   0.49761547  1.0868078 ]
 [ 0.26975215  1.62496704  0.30773707  0.18773632  0.20067304  0.2787644
   0.18503306  0.20760362  0.33460729  0.23637284  0.19600056  0.432479
   0.23998144  1.3454803   0.26951119  0.65578337  0.31830606 55.17537289
   1.38737325  0.16847683]
 [ 0.49698114  0.34376197  0.65453806  0.4009871   1.12279004  0.41080635
   0.42213537  0.33531982  1.01465845  0.80864353  0.83384301  0.30313465
   0.57964548  5.03756529  0.32346014  0.53910587  0.54213502  1.02486098
  10.24860651  0.58286852]
 [ 1.0054756   0.56996101  0.65748583  0.58649235  0.63013712  0.63487835
   0.62490059  0.69274759  0.58366052  2.31149135  1.49503985  0.60617013
   1.48816172  0.76548003  0.73723898  0.77826402  1.05715917  0.23622843
   0.54191311  2.66040095]]

In [51]:
#將matrix中的數值取10為底的log(log10)
result_matrix = np.round(10*np.log10(result_matrix)).astype(int)

In [52]:
result_matrix

array([[ 2, -2,  0,  0, -2,  0,  0,  1, -1,  0, -2, -1, -1, -3,  1,  1,
         1, -6, -4,  0],
       [-2,  6,  0, -1, -4,  1, -1, -3,  2, -2, -3,  3,  0, -4,  0,  0,
        -1,  2, -5, -2],
       [ 0,  0,  2,  2, -3,  1,  2,  1,  2, -2, -3,  1, -2, -3,  0,  1,
         1, -4, -2, -2],
       [ 0, -1,  2,  4, -5,  2,  3,  1,  1, -2, -4,  0, -3, -5, -1,  0,
         0, -7, -4, -2],
       [-2, -3, -4, -5, 12, -5, -5, -4, -3, -3, -6, -5, -5, -4, -2,  0,
        -2, -8,  0, -2],
       [ 0,  1,  1,  2, -5,  4,  2, -1,  3, -2, -2,  1, -1, -4,  0, -1,
        -1, -5, -4, -2],
       [ 0, -1,  1,  3, -5,  2,  4,  0,  1, -2, -3,  0, -2, -5,  0,  0,
         0, -7, -4, -2],
       [ 1, -3,  0,  1, -3, -1,  0,  5, -2, -2, -4, -2, -3, -5,  0,  1,
         0, -7, -5, -1],
       [-1,  1,  1,  1, -3,  3,  0, -3,  6, -3, -3,  0, -3, -2,  0, -1,
        -1, -3,  0, -3],
       [-1, -2, -2, -2, -2, -2, -2, -3, -3,  4,  2, -2,  2,  1, -2, -1,
         0, -5, -1,  4],
       [-2, -3, -3, -4, -6, -2, -3, -4, -2,  2,  6, -2,  4,  2, -2, -3,
        -2, -2, -1,  2],
       [-1,  3,  1,  0, -5,  1,  0, -2,  0, -2, -3,  5,  0, -5, -1,  0,
         0, -4, -5, -2],
       [-1, -1, -2, -3, -5, -1, -2, -3, -2,  2,  4,  1,  6,  0, -2, -2,
         0, -4, -3,  2],
       [-3, -4, -3, -5, -4, -4, -5, -4, -2,  1,  2, -5,  0,  9, -5, -3,
        -3,  0,  7, -1],
       [ 1,  0,  0, -1, -3,  0,  0,  0,  0, -2, -2, -1, -2, -4,  6,  1,
         0, -6, -5, -1],
       [ 1,  0,  1,  0,  0,  0,  0,  1, -1, -1, -3,  0, -2, -3,  1,  2,
         1, -3, -3, -1],
       [ 1, -1,  1,  0, -2, -1,  0,  0, -1,  0, -2,  0, -1, -3,  1,  1,
         3, -5, -3,  0],
       [-6,  2, -5, -7, -7, -6, -7, -7, -5, -6, -7, -4, -6,  1, -6, -2,
        -5, 17,  1, -8],
       [-3, -5, -2, -4,  1, -4, -4, -5,  0, -1, -1, -5, -2,  7, -5, -3,
        -3,  0, 10, -2],
       [ 0, -2, -2, -2, -2, -2, -2, -2, -2,  4,  2, -2,  2, -1, -1, -1,
         0, -6, -3,  4]])

In [68]:
result_matrix_df = pd.DataFrame(result_matrix, 
                                index = ['A','R','N','D','C','Q','E','G','H','I','L','K','M','F','P','S','T','W','Y','V'],
                                columns = ['A','R','N','D','C','Q','E','G','H','I','L','K','M','F','P','S','T','W','Y','V'])

In [69]:
result_matrix_df

   A  R  N  D   C  Q  E  G  H  I  L  K  M  F  P  S  T   W   Y  V
A  2 -2  0  0  -2  0  0  1 -1  0 -2 -1 -1 -3  1  1  1  -6  -4  0
R -2  6  0 -1  -4  1 -1 -3  2 -2 -3  3  0 -4  0  0 -1   2  -5 -2
N  0  0  2  2  -3  1  2  1  2 -2 -3  1 -2 -3  0  1  1  -4  -2 -2
D  0 -1  2  4  -5  2  3  1  1 -2 -4  0 -3 -5 -1  0  0  -7  -4 -2
C -2 -3 -4 -5  12 -5 -5 -4 -3 -3 -6 -5 -5 -4 -2  0 -2  -8   0 -2
Q  0  1  1  2  -5  4  2 -1  3 -2 -2  1 -1 -4  0 -1 -1  -5  -4 -2
E  0 -1  1  3  -5  2  4  0  1 -2 -3  0 -2 -5  0  0  0  -7  -4 -2
G  1 -3  0  1  -3 -1  0  5 -2 -2 -4 -2 -3 -5  0  1  0  -7  -5 -1
H -1  1  1  1  -3  3  0 -3  6 -3 -3  0 -3 -2  0 -1 -1  -3   0 -3
I -1 -2 -2 -2  -2 -2 -2 -3 -3  4  2 -2  2  1 -2 -1  0  -5  -1  4
L -2 -3 -3 -4  -6 -2 -3 -4 -2  2  6 -2  4  2 -2 -3 -2  -2  -1  2
K -1  3  1  0  -5  1  0 -2  0 -2 -3  5  0 -5 -1  0  0  -4  -5 -2
M -1 -1 -2 -3  -5 -1 -2 -3 -2  2  4  1  6  0 -2 -2  0  -4  -3  2
F -3 -4 -3 -5  -4 -4 -5 -4 -2  1  2 -5  0  9 -5 -3 -3   0   7 -1
P  1  0  0 -1  -3  0  0  0  0 -2 -2 -1 -2 -4  6  1  0  -6  -5 -1
S  1  0  1  0   0  0  0  1 -1 -1 -3  0 -2 -3  1  2  1  -3  -3 -1
T  1 -1  1  0  -2 -1  0  0 -1  0 -2  0 -1 -3  1  1  3  -5  -3  0
W -6  2 -5 -7  -7 -6 -7 -7 -5 -6 -7 -4 -6  1 -6 -2 -5  17   1 -8
Y -3 -5 -2 -4   1 -4 -4 -5  0 -1 -1 -5 -2  7 -5 -3 -3   0  10 -2
V  0 -2 -2 -2  -2 -2 -2 -2 -2  4  2 -2  2 -1 -1 -1  0  -6  -3  4

In [70]:
result_matrix_df.to_csv("./example/result.txt", sep=" ", index=True)

In [63]:
# 假设你有一个 NumPy 数组，名为 my_array
my_array = np.array([[1, 2], [3, 4], [5, 6]])

# 将 NumPy 数组转换为 DataFrame，并指定列名
df = pd.DataFrame(my_array, columns=["A", "B"])

# 打印原始 DataFrame
print("原始 DataFrame:")
print(df)

原始 DataFrame:
   A  B
0  1  2
1  3  4
2  5  6